---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="myPage">
    <div class="background">

    {% include header.html %}

      <div id="headerwrap">
        <div class="container" id="about">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <span><h1>{{ site.title }}</h1></span>
              <img src="assets/img/me_eve.jpg" class="img-circle img-responsive" id="meeve">
              <h3>Extraordinarily talented, smart, driven and humble web designer and developer.</h3>
              <p>After graduating from the University of Washington, I taught English in rural Japan for two years. Now I'm back in my home city of Seattle and teaching myself the magical language of the web. You can probably find me coding away in the corner of a local coffee shop. Or at home watching reruns of The X-files. Either way, rest assured that I'm living <em>my best life</em>.</p>
              <p>I'm currently a Web Developer Apprentice for <a href="http://www.iangilman.com/" target="_blank">Ian Gilman</a>.</p>
            </div>
          </div>
          <! --/row -->
        </div>
        <!-- /container -->
      </div>
      <! --/headerwrap -->

<!--
      <section id="works"></section>
      <div class="container">
        <div class="row centered mt mb" id="portfolio">
          <h1>Portfolio</h1>

          <div class="col-lg-4 col-md-4 col-sm-4 gallery hold">
            <a href="http://codepen.io/1gb/full/JGgaPX" target="_blank"><img src="assets/img/portfolio/folio01.png" class="img-responsive" target="_blank"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="http://codepen.io/1gb/full/dGdjVj" target="_blank"><img src="assets/img/portfolio/folio02.png" class="img-responsive" target="_blank"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="http://codepen.io/1gb/full/MKpxpN" target="_blank"><img src="assets/img/portfolio/folio03.png" class="img-responsive" target="_blank"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="http://codepen.io/1gb/full/YwGyQM/" target="_blank"><img src="assets/img/portfolio/folio04.png" class="img-responsive" target="_blank"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="#"><img src="assets/img/portfolio/folio05.png" class="img-responsive"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="#"><img src="assets/img/portfolio/folio06.png" class="img-responsive"></a>
          </div>
        </div>
      </div>
       -->
          {% include footer.html %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/myscript.js"></script>
  </body>
</html>
