// VARIABLES
@middle-purple: #2F3061;
@dark-purple: #0F0326;
@dpurple: #422f36;
@light-green: #B5D99C;
@light-peach: #d9ae9c;
@middle-green: #04471C;
@dark-green: #0D2818;
@orange-red: #E65F5C;
@highlight: #FFFF82;
@orange: #DBAF55;
@orangebrown: #604804;
@bg-color: #1D1C12;

body {
  background: @bg-color;
  background: -webkit-linear-gradient(@orange, @orangebrown, @bg-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(@orange, @orangebrown, @bg-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(@orange, @orangebrown, @bg-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(@orange, @orangebrown, @bg-color); /* Standard syntax */

  backgroud-size: cover cover;
  background-repeat: no-repeat;
  font-family: 'Courier New', Courier, monospace;
  color: @light-green;
  text-align: center;
  height: 100%;
  margin: 0;
  background-attachment: fixed;

  a {
    text-decoration: none;
    color: inherit;
  }

  @font-face {
    font-family: bloodcrow;
    src: url(fonts/bloodcrow.ttf);
  }
}

.side-menu {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 25px;
  float: left;

  .about, .portfolio {
    margin-top: 5px;
  }

  .sidelinks {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 1px solid @light-green;
  }

  .active {
    color: @bg-color;
    background-color: @light-green;
  }

  .main-icon {
    height: 75px;
    line-height: 75px;
    padding: 2px;
    letter-spacing: 8px;
    font-size: 40px;
    font-family: 'bloodcrow', sans-serif;
    color: @light-green;
    cursor: pointer;

    svg {
      width: 75px;
      height: 75px;
    }
  }

  .main-icon:hover {
    text-shadow: 0 0 0.2em @highlight;
  }
}

.about-section, .portfolio-section {
  line-height: 1.5;
  margin-top: 50px;
  font-size: 16px;
  display: inline-block;
  width: 70%;
  min-height: 350px;

  .email {
    color: @orange;
  }

  .email:hover {
    background-color: @orange;
    color: @bg-color;
  }
}

// DUNNO MAYBE DELETE

//
// .portfolio-container {
//   width: 88%;
//   margin: 0 auto;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//
//     .box {
//       height: 120px;
//       width: 220px;
//       margin: 20px;
//       border-radius: 5px;
//       background-color: @middle-green;
//       color: white;
//       text-align: center;
//       vertical-align: middle;
//       line-height: 120px;
//     }
// }

// SOCIAL LINKS

.btnL img {
  transform: rotate(4deg);
}

.btnR img {
  transform: rotate(-4deg);
}

.social-buttons {
  font-size: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    width: 35px;
    margin: 17px;
    display: inline-block;
  }
}
