

.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .item {
    width: 200px;
    height: 150px;
    margin: 10px;

    .portfolio-thumb {
      width: 100%;
    }
  }

  .item:hover {
    background-color: #888;
    opacity: 0.8;
  }
}



// MEDIA QUERIES

@media (max-width: 600px) {
  .portfolio-container {
    .item {

    }
  }
}
