
<footer id = "footer">

      <div id="social">
        <div class="container" id="contact">
          <div class="row centered">
            <div class="col-sm-6 col-sm-offset-3">

              <div class="col-lg-3">
                <a href="http://www.freecodecamp.com/1gb" target="_blank"><i class="fa fa-fire fa-fw"></i></a>
              </div>
              <div class="col-lg-3">
                <a href="https://github.com/1gb/" target="_blank"><i class="fa fa-github"></i></a>
              </div>
              <div class="col-lg-3">
                <a href="https://twitter.com/yesthisiseve" target="_blank"><i class="fa fa-twitter"></i></a>
              </div>
              <div class="col-lg-3">
                <a href="https://www.instagram.com/256mb/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>

            </div>
            <! --/row -->
          </div>
          <! --/container -->
        </div>
      </div>
      <! --/social -->

      <div id="footerwrap">
        <div class="container">
          <div class="row centered">
            <div class="col-lg-4">
              <p><b>&copy; 2016 eve worthington</b></p>
            </div>

            <div class="col-lg-4">
              <p>bleep bloop.</p>
            </div>
            <div class="col-lg-4">
              <p><a href="mailto:worthington.ee@gmail.com?Subject=Hi%20Eve!" target="_top">worthington.ee@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <! --/footerwrap -->

    </footer>
