/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL:
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

   @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
   @import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

   ::-moz-selection {
     background: #f2c2c9;
     color: #a4003a;
     text-shadow: none;
   }

   ::selection {
     background: #16a085;
     color: #a4003a;
     text-shadow: none;
   }


   /*
    * A better looking default horizontal rule
    */

   hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1em 0;
     padding: 0;
   }

   .centered {
     text-align: center
   }

   .mt {
     margin-top: 80px;
   }

   .mb {
     margin-bottom: 80px;
   }

   .smallspace {
     margin-top: 40px;
   }


   /* ==========================================================================
      General styles
      ========================================================================== */

   div.background {
     background: url(../../img/back.jpg) center 0 no-repeat fixed;
     background-size: cover;
     background-position: center center;
   }

   body {
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     font-size: 16px;
     background-color: #DB4493;
     /*   background: url(http://i.imgur.com/xlRiAbQ.jpg)  50% 0 repeat fixed; min-height: 1000px;  */
     -webkit-font-smoothing: antialiased;
     -webkit-overflow-scrolling: touch;
     text-align: center;
     background-attachment: relative;
     background-position: center center;
     min-height: 550px;
     width: 100%;
     -webkit-background-size: 100%;
     -moz-background-size: 100%;
     -o-background-size: 100%;
     background-size: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     font-weight: 700;
     color: #FFEDED;
   }

   p {
     color: #FFEDED;
   }

   .navbar {
     font-family: 'Gloria Hallelujah', cursive;
     font-size: 22px;
   }

   .logo {
     height: 51px;
     width: 66px;
     margin-top: 10px;
     display: block;
     background: transparent url(../../img/logo.png) center top no-repeat;
   }

   .logo:hover {
     background-image: url(../../img/logohover.png);

   }

   .navbar-default .navbar-brand {
     color: #1abc9c;
   }

   .navbar-default {
     background-color: transparent;
     border-color: transparent;
   }

   .navbar-default .navbar-nav > .active > a,
   .navbar-default .navbar-nav > .active > a:hover,
   .navbar-default .navbar-nav > .active > a:focus {
     color: #1abc9c;
     background-color: transparent;
     border-bottom: 2px solid #1abc9c
   }

   .navbar-default .navbar-nav > li > a {
     color: #1abc9c;
   }

   .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
       color: #FFEDED;
   }

   .navbar-default .navbar-toggle .icon-bar {
     background-color: #1abc9c;
   }


   /* ==========================================================================
      Wrap Sections
      ========================================================================== */

   #headerwrap {
     /*	background: url(http://i.imgur.com/xlRiAbQ.jpg) no-repeat center ;
     background-attachment: fixed;
   	margin-top: -70px; */
     padding-top: 150px;
     text-align: center;
     background-attachment: relative;
     background-position: center center;
     min-height: 650px;
     width: 100%;
     -webkit-background-size: 100%;
     -moz-background-size: 100%;
     -o-background-size: 100%;
     background-size: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }

   #meeve {
     max-width: 50%;
     margin: 0 auto;
     border-color: #FFEDED;
     border-width: 10px;
     border-style: solid;
   }

   #headerwrap h1 {
     color: #FFEDED;
     padding-top: 10px;
     padding-bottom: 20px;
     letter-spacing: 4px;
     font-size: 56px;
     font-weight: bold;
   }

   #headerwrap h3 {
     color: #0892A5;
   }

   #headerwrap h4 {
     font-weight: 400;
     color: #FFEDED;
   }

   #social {
     padding-top: 50px;
     padding-bottom: 50px;
     background-color: #0892A5;
   }

   #social i {
     font-size: 60px;
     color: #FFEDED;
   }

   #social i:hover {
     color: #1abc9c
   }

   #footerwrap {
     padding-top: 70px;
     padding-bottom: 50px;
     background-color: #E66383;
   }

   #footerwrap p {
     color: #FFEDED;
     margin-left: 10px;
   }

   #workwrap {
     /* background: url(../img/work.jpg) no-repeat center top;
   	margin-top: -70px;
   	padding-top: 250px;  */
     text-align: center;
     background-attachment: relative;
     background-position: center center;
     min-height: 650px;
     width: 100%;
     -webkit-background-size: 100%;
     -moz-background-size: 100%;
     -o-background-size: 100%;
     background-size: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }

   #workwrap h1 {
     color: #FFEDED;
     padding-top: 10px;
     padding-bottom: 20px;
     letter-spacing: 4px;
     font-size: 80px;
     font-weight: bold;
   }

   #workwrap h4 {
     font-weight: 400;
     color: #FFEDED
   }

   #aboutwrap {
     /* margin-top: -70px;
   	padding-top: 250px; */
     text-align: center;
     background-attachment: relative;
     background-position: center center;
     min-height: 550px;
     width: 100%;
     -webkit-background-size: 100%;
     -moz-background-size: 100%;
     -o-background-size: 100%;
     background-size: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }


   /* Gallery */

   .hold {
     height:
   }

   .gallery {
     margin-top: 30px;
   }

   .gallery img:hover {
     opacity: 0.4;
   }
